*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.espacio{
    background-color: antiquewhite;
    border-radius: 5px;
    width: 300px;
    margin: auto;
    border: 1px solid green;

    margin-top: 100px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultado{
    border-radius: 3px;
    background-color: honeydew;
    height: 25px;
    width: 86px;
    text-align: left;
    padding-left: 10px;
}

.textocalculadora{
    font-size: large;
    text-align: center;
    padding: 5px;
}

.botones{
    display: flex;
    width: 86%;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 10px;
}