.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

.imgPersonaje {
    height: 200px;
}

h1{
    text-align: center;
}

.pregunta {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenedorImg{
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;

    border-radius: 50px;
    padding: 10px;

}
.contenedor_preguntas {
    width: 500px;
    margin: auto;
    background-color: #69ffa7;
    border-radius: 50px;
    padding: 10px;
    margin-top: 20px;
}

.divpregunta {
    width: 80%;
    margin-left: 50px;
}

.divrespuesta{
    width: 100%;
    margin-right: 20px;
    padding-left: 10px;
}


.imgBlur20{
    filter: blur(20px);
}

.imgBlur18{
    filter: blur(18px);
}

.imgBlur16{
    filter: blur(16px);
}

.imgBlur14{
    filter: blur(14px);
}

.imgBlur12{
    filter: blur(12px);
}

.imgBlur10{
    filter: blur(10px);
}